workflows/jenkins-agent-provisioning.json
{
  "name": "Jenkins Agent Provisioning",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Jenkins Agent Provisioning Request",
        "formDescription": "Request a new Jenkins agent",
        "formFields": {
          "field1": {
            "fieldName": "agentName",
            "fieldType": "string",
            "fieldDescription": "Agent name",
            "required": true
          },
          "field2": {
            "fieldName": "agentType",
            "fieldType": "options",
            "fieldDescription": "Agent type",
            "options": [
              {
                "name": "Linux",
                "value": "linux"
              },
              {
                "name": "Windows",
                "value": "windows"
              }
            ],
            "required": true
          },
          "field3": {
            "fieldName": "labels",
            "fieldType": "string",
            "fieldDescription": "Agent labels (space-separated)",
            "required": true
          }
        }
      },
      "name": "Form Trigger",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "approversGroup": "infrastructure-approvers",
        "approvalMessage": "=`Jenkins agent provisioning request for ${$node[\"Form Trigger\"].json[\"agentName\"]} requires your approval.`"
      },
      "name": "Approval",
      "type": "n8n-nodes-base.approval",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "launch_job",
        "jobTemplate": "jenkins-agent-provisioning",
        "extraVars": "={{ { agentName: $node[\"Form Trigger\"].json[\"agentName\"], agentType: $node[\"Form Trigger\"].json[\"agentType\"], labels: $node[\"Form Trigger\"].json[\"labels\"] } }}"
      },
      "name": "Launch AWX Job",
      "type": "ansible-awx",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "createNode",
        "nodeName": "={{ $node[\"Form Trigger\"].json[\"agentName\"] }}",
        "labels": "={{ $node[\"Form Trigger\"].json[\"labels\"] }}",
        "nodeType": "={{ $node[\"Form Trigger\"].json[\"agentType\"] === 'linux' ? 'ssh' : 'jnlp' }}"
      },
      "name": "Create Jenkins Node",
      "type": "jenkins",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=data.webhookUrl",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"text\": `Jenkins agent ${$node[\"Form Trigger\"].json[\"agentName\"]} has been provisioned successfully.` }"
      },
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval": {
      "main": [
        [
          {
            "node": "Launch AWX Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch AWX Job": {
      "main": [
        [
          {
            "node": "Create Jenkins Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jenkins Node": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "timezone": "UTC",
    "executionTimeout": 300
  },
  "staticData": {
    "webhookUrl": "http://slack-webhook-url"
  },
  "tags": ["jenkins", "infrastructure", "automation"],
  "hash": "ghi789"
}